*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    
}
body{
    background-color: rgba(211, 208, 208, 0.603);
    width: 100vw;
    height: 100vh;
    color: black;
    display: flex;
    justify-content:center;
    align-items: center;
}
.container{
  width: 60vw;
  display: flex;
  align-items:flex-start;
  justify-content: space-evenly;
}
.card{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    width: 400px;
    height: auto;
    border-radius: 20px;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.384);

}
.card-top{
    border-bottom: 3px solid rgb(250, 250, 250);
    width: 100%;
    height: 50%;
    border-radius:20px 20px 0 0;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.card-top .imagem{
    width: 200px;
    height: 200px;
    display: flex;
    align-self: center;
    margin-top: 40px;
}

.card-top-homemDeFerro{
    background-color: aqua;
}

.card-top-flash{
    background-color: rgb(162, 0, 255);
}
.namePersona{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card-bottom{
    background-color: transparent;
    width: 100%;
    height: 50%;
    border-radius: 0  0 20px 20px;
    color: white;
    display: flex;
    flex-direction:column;
    padding: 10px;
}
.card-bottom .habilidades{
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    align-self: flex-start;
    padding-left: 10px;
}
.card-bottom .habilidadesTipos{
    color:rgb(0, 0, 0);
    padding: 10px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
}
.card-bottom .descricao{
   
}
.button{
    width: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.button button{
    background-color: white;
    color: black;
    width: 100%;
    height: 50px;
    border: 3PX solid black;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3rem;   
}
.button button:hover{
    opacity: 50%;
}

@media (max-width: 500px) {
  
    .container{
        background-color: rgb(251, 255, 0);
        width: 500px;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
    }
    .card{
        width: 100%;
        height: 100%;
    }
    .button{
        width: 100%;
        height: 30%;
        margin: 10px 0;

    }
    .button button{
        
        margin: 5px;
    }
}